@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bogotá D.C.<br />
    <abbr title="Phone">Tel:</abbr>
    3153194630
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:royer.sojo@gmail.com">royer.sojo@gmail.com</a><br />
</address>